target/*
.idea/*
cdktf.out/*
rready-gulp/.terraform/providers/registry.terraform.io/hashicorp/aws/2.70.0/windows_amd64/terraform-provider-aws_v2.70.0_x4.exe
.idea/libraries/Maven__software_amazon_jsii_jsii_runtime_1_29_0.xml
.idea/libraries/Maven__software_amazon_jsii_jsii_runtime_1_29_0.xml
#/src/main/java/imports/aws/
.terraform/providers/registry.terraform.io/hashicorp/aws/2.70.0/windows_amd64/terraform-provider-aws_v2.70.0_x4.exe
.terraform.lock.hcl
.terraform/terraform.tfstate
.terraform/providers/registry.terraform.io/hashicorp/aws/3.64.2/windows_amd64/terraform-provider-aws_v3.64.2_x5.exe
/.terraform/providers/registry.terraform.io/hashicorp/aws/3.66.0/windows_amd64/terraform-provider-aws_v3.66.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/3.66.0/windows_amd64/terraform-provider-aws_v3.66.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/3.67.0/windows_amd64/terraform-provider-aws_v3.67.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/3.69.0/darwin_arm64/terraform-provider-aws_v3.69.0_x5
src/main/resources/.env-dev
src/main/resources/.env-prod
src/main/resources/.env-stg
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/resources/.DS_Store
src/main/.DS_Store
src/.DS_Store
.DS_Store
src/main/resources/.DS_Store
env
env
.env
env-loc
